{
  "Entries": [
    {
      "RequestUri": "/subscriptions/fb166735-093f-4c2b-a45f-a9647e884555/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvW4faOjZmIg/hP8LKxJDUPeGThGUGACobSqlV1fd3IFrW3j805nUko0tELD33+ooBzbRHZwfyy6efRE7gYcE9sJx90hs7JwsUtFFhBcjMCVaN7bmABhYEX7rWlEOUKq1dvzEyvC5iLwrzc96L/Svw"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14897"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/fb166735-093f-4c2b-a45f-a9647e884555/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local\",\r\n      \"name\": \"local\",\r\n      \"type\": \"Microsoft.InfrastructureInsights.Admin/regionHealths\",\r\n      \"location\": \"local\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"usageMetrics\": [\r\n          {\r\n            \"name\": \"Physical memory\",\r\n            \"metricsValue\": [\r\n              {\r\n                \"name\": \"Used\",\r\n                \"unit\": \"GB\",\r\n                \"value\": 73.046875\r\n              },\r\n              {\r\n                \"name\": \"Available\",\r\n                \"unit\": \"GB\",\r\n                \"value\": 54.833984375\r\n              }\r\n            ]\r\n          },\r\n          {\r\n            \"name\": \"Physical storage\",\r\n            \"metricsValue\": [\r\n              {\r\n                \"name\": \"Used\",\r\n                \"unit\": \"TB\",\r\n                \"value\": 0.25590290501713753\r\n              },\r\n              {\r\n                \"name\": \"Available\",\r\n                \"unit\": \"TB\",\r\n                \"value\": 3.0134452395141125\r\n              }\r\n            ]\r\n          },\r\n          {\r\n            \"name\": \"Public IP address pools\",\r\n            \"metricsValue\": [\r\n              {\r\n                \"name\": \"Used\",\r\n                \"unit\": \"One\",\r\n                \"value\": 33.0\r\n              },\r\n              {\r\n                \"name\": \"Available\",\r\n                \"unit\": \"One\",\r\n                \"value\": 222.0\r\n              }\r\n            ]\r\n          }\r\n        ],\r\n        \"alertSummary\": {\r\n          \"criticalAlertCount\": 0,\r\n          \"warningAlertCount\": 0\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/fb166735-093f-4c2b-a45f-a9647e884555/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/alerts?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvpn0yOQtKs1K/IgF1XuUkkHZfXppEQpXbqAkld+DZWgI7mnZh+UiiIM4DRKcqJX48o4bmCegH9F0rRooLdg9h5IUW6jSV7F1k3o6d38PhUcHL4k8Fox3JA2S9q0n5J1GSuL7CQqGQ+kM0L8/cwT7h"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14896"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/fb166735-093f-4c2b-a45f-a9647e884555/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/alerts/3779d1f6-c22b-4431-b628-5d75c7a0ec90\",\r\n      \"name\": \"local/3779d1f6-c22b-4431-b628-5d75c7a0ec90\",\r\n      \"type\": \"Microsoft.InfrastructureInsights.Admin/regionHealths/alerts\",\r\n      \"location\": \"local\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"closedTimestamp\": \"2018-10-31T14:18:58.7811764Z\",\r\n        \"createdTimestamp\": \"2018-10-31T13:59:42.7843932Z\",\r\n        \"description\": [\r\n          {\r\n            \"text\": \"The infrastructure role Storage is experiencing issues.\",\r\n            \"type\": \"Text\"\r\n          }\r\n        ],\r\n        \"faultId\": \"ServiceFabric:/StorageResourceProvider/fabric:/SrpServiceApp\",\r\n        \"alertId\": \"3779d1f6-c22b-4431-b628-5d75c7a0ec90\",\r\n        \"faultTypeId\": \"ServiceFabricApplicationUnhealthy\",\r\n        \"lastUpdatedTimestamp\": \"2018-10-31T14:18:58.7811764Z\",\r\n        \"alertProperties\": {\r\n          \"name\": \"Storage\",\r\n          \"fabricName\": \"fabric:/SrpServiceApp\",\r\n          \"description\": null,\r\n          \"serviceType\": \"StorageResourceProvider\",\r\n          \"healthState\": \"Error\"\r\n        },\r\n        \"remediation\": [\r\n          {\r\n            \"text\": \"Please contact Support. Customer Assistance is required to resolve this issue. Do not try to resolve this issue without their assistance. Before you open a support request, start the log file collection process using the guidance from \",\r\n            \"type\": \"Text\"\r\n          },\r\n          {\r\n            \"linkType\": \"Uri\",\r\n            \"uri\": \"https://aka.ms/azurestacklogfiles\",\r\n            \"type\": \"LinkBegin\"\r\n          },\r\n          {\r\n            \"text\": \"https://aka.ms/azurestacklogfiles\",\r\n            \"type\": \"Text\"\r\n          },\r\n          {\r\n            \"type\": \"LinkEnd\"\r\n          },\r\n          {\r\n            \"text\": \".\",\r\n            \"type\": \"Text\"\r\n          }\r\n        ],\r\n        \"resourceProviderRegistrationId\": \"e56bc7b8-c8b5-4e25-b00c-4f951effb22c\",\r\n        \"severity\": \"Warning\",\r\n        \"state\": \"Closed\",\r\n        \"title\": \"Infrastructure role is unhealthy\",\r\n        \"impactedResourceId\": \"/subscriptions/fb166735-093f-4c2b-a45f-a9647e884555/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/StorageResourceProvider\",\r\n        \"impactedResourceDisplayName\": \"StorageResourceProvider\",\r\n        \"preview\": \"False\",\r\n        \"hasValidRemediationAction\": false,\r\n        \"remediationHistory\": {}\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/fb166735-093f-4c2b-a45f-a9647e884555/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/alerts/43213920-4f77-49f6-9f14-df4ca6fc264c\",\r\n      \"name\": \"local/43213920-4f77-49f6-9f14-df4ca6fc264c\",\r\n      \"type\": \"Microsoft.InfrastructureInsights.Admin/regionHealths/alerts\",\r\n      \"location\": \"local\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"clo[...]
    {
      "RequestUri": "/subscriptions/fb166735-093f-4c2b-a45f-a9647e884555/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/alerts/9741a220-3cbe-43cc-84a0-4a23322b1d47/repair?api-version=2016-05-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://adminmanagement.local.azurestack.external/subscriptions/fb166735-093f-4c2b-a45f-a9647e884555/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/healthServiceOperationResults/defb27e8-48d5-414c-b157-d54635549487?api-version=2016-05-01"
        ],
        "Retry-After": [
          "60"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRv+g/68eZbxrKXx3m+XzbzEJcb9BjmVbWrj/TtGm4tPlHTbYcBLH8P0Abo/prkpAtS4WQIak5nkMZdl6XH9yX8dKGda0X+g05NaYs83d3PKSeQ9q0dAd2wIHz+J284eGCvOaYGZ0/fxw0oymAf6WOd"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/fb166735-093f-4c2b-a45f-a9647e884555/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/healthServiceOperationResults/defb27e8-48d5-414c-b157-d54635549487?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRv3TDZxe3/otbHNhSV4vMPKfYk889K7LjdvAYZoV323jK6qoJ4ONLK88DraRBVvoWKPwpsH7COFA1kHOg094DinMLMCNwo5lyFeaiWBhIqgry++dzncysLHqABDP0b9fIpcFH1FTA1vHB5H2YBE665"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14895"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Failed\"\r\n  },\r\n  \"error\": {\r\n    \"code\": \"RemediateAlertPrecheckFailed\",\r\n    \"message\": \"Alert remediation for alert '9741a220-3cbe-43cc-84a0-4a23322b1d47' failed prerequisite checks. Prerequiste checks include that the alert exists, is open, has a remediation action, and remediation is not already in progress.\"\r\n  }\r\n}",
      "StatusCode": 400
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "fb166735-093f-4c2b-a45f-a9647e884555"
  }
}