{
  "Entries": [
    {
      "RequestUri": "/subscriptions/fed888f2-d08a-44a5-8789-c3017c68a485/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvwjZHwzr+DNcxuAA1L72pQnLo0hTTF8PgjRtiIws2l2lloFP7QPkgzhd9pqz4eMqdARtq03ZR8a2xMwhlcQ6xayX1DS5yUZcdQRDZFLjqWKqYkSPxmFD6s90S8zNkRPTdBuQxOqQljMfFeKHdvDve"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14698"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/fed888f2-d08a-44a5-8789-c3017c68a485/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local\",\r\n      \"name\": \"local\",\r\n      \"type\": \"Microsoft.InfrastructureInsights.Admin/regionHealths\",\r\n      \"location\": \"local\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"usageMetrics\": [\r\n          {\r\n            \"name\": \"Physical memory\",\r\n            \"metricsValue\": [\r\n              {\r\n                \"name\": \"Used\",\r\n                \"unit\": \"GB\",\r\n                \"value\": 92.6484375\r\n              },\r\n              {\r\n                \"name\": \"Available\",\r\n                \"unit\": \"GB\",\r\n                \"value\": 3.22265625\r\n              }\r\n            ]\r\n          },\r\n          {\r\n            \"name\": \"Physical storage\",\r\n            \"metricsValue\": [\r\n              {\r\n                \"name\": \"Used\",\r\n                \"unit\": \"TB\",\r\n                \"value\": 0.28089506551623344\r\n              },\r\n              {\r\n                \"name\": \"Available\",\r\n                \"unit\": \"TB\",\r\n                \"value\": 2.1710702665150166\r\n              }\r\n            ]\r\n          },\r\n          {\r\n            \"name\": \"Public IP address pools\",\r\n            \"metricsValue\": [\r\n              {\r\n                \"name\": \"Used\",\r\n                \"unit\": \"One\",\r\n                \"value\": 39.0\r\n              },\r\n              {\r\n                \"name\": \"Available\",\r\n                \"unit\": \"One\",\r\n                \"value\": 472.0\r\n              }\r\n            ]\r\n          }\r\n        ],\r\n        \"alertSummary\": {\r\n          \"criticalAlertCount\": 1,\r\n          \"warningAlertCount\": 0\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/fed888f2-d08a-44a5-8789-c3017c68a485/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/alerts?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvDAh5XRyBDP0ruOGNvIVvMmCpN/9kKLqnQ8lJEXTRnPmL9cIsVNznY3s8HSx5pCVq43bREHwnkjBCY2VfWWyKngUTmIvA0AqfAZZYuHapTqRZObVqadJP7n+0xNxzNHA8LH2QkEQkWbN9/2jpW13W"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14697"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/fed888f2-d08a-44a5-8789-c3017c68a485/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/alerts/33ed438f-95ff-439d-b203-9425b94015d8\",\r\n      \"name\": \"local/33ed438f-95ff-439d-b203-9425b94015d8\",\r\n      \"type\": \"Microsoft.InfrastructureInsights.Admin/regionHealths/alerts\",\r\n      \"location\": \"local\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"closedTimestamp\": \"2018-10-11T07:39:20.6398252Z\",\r\n        \"createdTimestamp\": \"2018-10-11T05:51:47.4176264Z\",\r\n        \"description\": [\r\n          {\r\n            \"text\": \"Azure Stack is not activated.\",\r\n            \"type\": \"Text\"\r\n          }\r\n        ],\r\n        \"faultId\": \"AzureBridge.NotActivated\",\r\n        \"alertId\": \"33ed438f-95ff-439d-b203-9425b94015d8\",\r\n        \"faultTypeId\": \"AzureBridge.NotActivated\",\r\n        \"lastUpdatedTimestamp\": \"2018-10-11T07:39:20.6398252Z\",\r\n        \"alertProperties\": {},\r\n        \"remediation\": [\r\n          {\r\n            \"text\": \"You have not activated Azure Stack. To do so, see the following help article: \",\r\n            \"type\": \"Text\"\r\n          },\r\n          {\r\n            \"linkType\": \"Uri\",\r\n            \"uri\": \"https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-register\",\r\n            \"type\": \"LinkBegin\"\r\n          },\r\n          {\r\n            \"text\": \"https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-register\",\r\n            \"type\": \"Text\"\r\n          },\r\n          {\r\n            \"type\": \"LinkEnd\"\r\n          },\r\n          {\r\n            \"text\": \".\",\r\n            \"type\": \"Text\"\r\n          }\r\n        ],\r\n        \"resourceRegistrationId\": \"1b1c8843-259e-4c99-b54d-4a6168e28ef1\",\r\n        \"resourceProviderRegistrationId\": \"e56bc7b8-c8b5-4e25-b00c-4f951effb22c\",\r\n        \"severity\": \"Warning\",\r\n        \"state\": \"Closed\",\r\n        \"title\": \"Activation Required\",\r\n        \"impactedResourceId\": \"/subscriptions/fed888f2-d08a-44a5-8789-c3017c68a485/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/AzureBridge\",\r\n        \"impactedResourceDisplayName\": \"AzureBridge\",\r\n        \"preview\": \"False\",\r\n        \"hasValidRemediationAction\": false,\r\n        \"remediationHistory\": {}\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/fed888f2-d08a-44a5-8789-c3017c68a485/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/alerts/3b2bf2db-934a-480e-9555-e91d19a58440\",\r\n      \"name\": \"local/3b2bf2db-934a-480e-9555-e91d19a58440\",\r\n      \"type\": \"Microsoft.InfrastructureInsights.Admin/regionHealths/alerts\",\r\n      \"location\": \"local\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"closedTimestamp\": \"2018-10-11T14:25:57.4040095Z\",\r\n        \"createdTimestamp\": \"2018-10-11T14:10:52.0958121Z\",\r\n        \"description\": [\r\n          {\r\n            \"text\": \"The region has consumed more than 95.00 % of available memory. Creating virtual machines with large amounts of memory may fail.\",\r\n            \"type\": \"Text\"\r\n          }\r\n        ],\r\n        \"alertId\": \"3b2bf2db-934a-480e-9555-e91d19a58440\",\r\n        \"faultTypeId\": \"AzureStack.ComputeController.LowMemoryCritical\",\r\n        \"lastUpdatedTimestamp\": \"2018-10-11T14:25:57.4040095Z\",\r\n        \"alertProperties\": {\r\n          \"percentage\": \"95.00 %\"\r\n        },\r\n        \"remediation\": [\r\n          {\r\n            \"text\": \"See \",\r\n            \"type\": \"Text\"\r\n          },\r\n          {\r\n            \"linkType\": \"Uri\",\r\n            \"uri\": \"https://aka.ms/azurestackaddnode\",\r\n            \"type\": \"LinkBegin\"\r\n          },\r\n          {\r\n            \"text\": \"https://aka.ms/azurestackaddnode\",\r\n            \"type\": \"Text\"\r\n          },\r\n          {\r\n            \"type\": \"Lin[...]
